<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbm.lyricsoverlay">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="YTMusic Lyrics Overlay"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name="com.tbm.lyricsoverlay.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.tbm.lyricsoverlay.YTNotificationListenerService"
            android:label="YT Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.tbm.lyricsoverlay.OverlayService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />


    </application>
</manifest>
